* {
  box-sizing: border-box;
}

body, html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  height: 100%;
  padding: 0;
  margin: 0;
}

#js-create-table {
  color: #007AFF;
}

.content,
.content > div {
  width: 100%;
  height: 100%;
}

.content > .message {
  text-align: center;
  display: table;

  font-size: 16px;
  color: #111;
}

.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.content .error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
}

.content .error pre {
  border: solid 1px #CCC;
  background: #EEE;
  padding: 10px;
}

.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-table .intro {
  display: none;
}


.content .table,
.content.with-error .table {
  visibility: hidden;
}

.content.with-table .table {
  visibility: visible;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons > li {
  display: inline-block;
  margin-right: 10px;
}
.buttons > li > a {
  background: #DDD;
  border: solid 1px #666;
  display: inline-block;
  padding: 5px;
}

.buttons a {
  opacity: 0.3;
}

.buttons a.active {
  opacity: 1.0;
}

.img {
  width: 500px;
}

.create-new {
  padding: 40px;
  font-size: 22px;
  margin-bottom: 60px;
}

.use-demo {
  width: 540px;
  margin: auto;
  border: 1px solid gray;
  padding: 20px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.218s ease;
  -o-transition: opacity 0.218s ease;
  transition: opacity 0.218s ease;
}

.use-demo:hover {
  opacity: 1;
}

#js-table {
  padding: 20px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
}

.project-logo {
  font-size: 120px;
}
.project-logo {
  color: #52b415 !important;
}

.icon-bpmn-io:before {
  content: '\e807';
  font-family: "dmn-js";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
